
{{ form_start(form) }}
    {{ form_row(form.name) }}

    <div>
        <ul id="images-fields-list"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.images|length }}">
            {% for imageField in form.images %}
                <li>
                    {{ form_errors(imageField) }}
                    {{ form_widget(imageField) }}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <button type="button"
                class="add-another-collection btn btn-dark"
                data-list-selector="#images-fields-list">Add an image to Gallery
        </button>
    </div>

    <div>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
</div>